@model IEnumerable<GardenShopOnline.Models.CommentProduct>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<section class="pcoded-main-container">
    <div class="pcoded-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Comment</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="@Url.Action("Index", "AspNetUsers")">
                                    <i class="feather icon-home">
                                    </i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">Comment</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card" id="dataContainer">
                        @{ Html.RenderAction("CommentProductList", "CommentProducts");}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section scripts {
    <script type="text/javascript">
        var row;
        $(document).ready(function () {
            $('#example').DataTable({
                pagingType: 'full_numbers',
            });
            $('#example1').DataTable({
                pagingType: 'full_numbers',
            });
            $('#example2').DataTable({
                pagingType: 'full_numbers',
            });

        });
        //----------------------FILTER ORDER DATE TIME------------------------------------------------

        function GetList_comment() {
            $.ajax({
                url: '@Url.Action("CommentProductList", "CommentProducts")',
                data: {},
            }).done(function (result) {
                $('#dataContainer').html(result);
                $('#example').DataTable();
                $('#example1').DataTable();
                $('#example2').DataTable();


            }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                console.log(textStatus)
                console.log(errorThrown)
                alert("Something Went Wrong, Try Later");
            });
        }


    </script>
}